@use '@angular/material' as mat;

$theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$violet-palette,
            ),
            typography: (brand-family: 'Comic Sans',
                bold-weight: 900),
            density: (scale: -1)));

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}