*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-fab .mat-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

@import './vendors/bootstrap';