@use '@angular/material' as mat;


// Define a light theme
$light-theme: mat.m2-define-light-theme((color: (primary: mat.m2-define-palette(mat.$m2-indigo-palette),
                accent: mat.m2-define-palette(mat.$m2-pink-palette),
                background:(background:rgb(0, 255, 34)),
            ),
            typography: mat.m2-define-typography-config(),
            density: 0,
        ));